footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  
}

footer p {
  margin: 0;
}


.social-icons {
  display: flex;
  justify-content: center;  
  margin-bottom: 20px;
}

.icon {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  margin-top: 10px;
  
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}